@layer base {
  :root {
    /* light */
    --md-sys-color-primary-light: 0 107 95;
    --md-sys-color-on-primary-light: 255 255 255;
    --md-sys-color-primary-container-light: 113 248 228;
    --md-sys-color-on-primary-container-light: 0 32 28;
    --md-sys-color-secondary-light: 74 99 94;
    --md-sys-color-on-secondary-light: 255 255 255;
    --md-sys-color-secondary-container-light: 204 232 226;
    --md-sys-color-on-secondary-container-light: 6 32 28;
    --md-sys-color-tertiary-light: 69 97 121;
    --md-sys-color-on-tertiary-light: 255 255 255;
    --md-sys-color-tertiary-container-light: 203 230 255;
    --md-sys-color-on-tertiary-container-light: 0 30 49;
    --md-sys-color-error-light: 186 26 26;
    --md-sys-color-on-error-light: 255 255 255;
    --md-sys-color-error-container-light: 255 218 214;
    --md-sys-color-on-error-container-light: 65 0 2;
    --md-sys-color-outline-light: 111 121 118;
    --md-sys-color-background-light: 250 253 251;
    --md-sys-color-on-background-light: 25 28 27;
    --md-sys-color-surface-light: 250 253 251;
    --md-sys-color-on-surface-light: 25 28 27;
    --md-sys-color-surface-variant-light: 218 229 225;
    --md-sys-color-on-surface-variant-light: 63 73 70;
    --md-sys-color-inverse-surface-light: 45 49 48;
    --md-sys-color-inverse-on-surface-light: 239 241 239;
    --md-sys-color-inverse-primary-light: 79 219 200;
    --md-sys-color-shadow-light: 0 0 0;
    --md-sys-color-surface-tint-light: 250 253 251;
    --md-sys-color-outline-variant-light: 190 201 197;
    --md-sys-color-scrim-light: 0 0 0;
  }
}
